{% extends "base.html" %}
{% block title %}History: {{ article.title }} - Thematic Wiki{% endblock %}
{% block content %}
<h2>Revision History for "{{ article.title }}"</h2>
<ul class="history-list">
    {% for rev in revisions %}
    <li class="history-item">
        <span class="history-date">{{ rev.changed_at }}</span> by <span class="history-author">{{ rev.username }}</span>
        <div class="history-content-box">
            <pre class="history-pre">{{ rev.old_content }}</pre>
        </div>
    </li>
    {% else %}
    <li>No revisions found.</li>
    {% endfor %}
</ul>
<div class="history-back-link">
    <a href="{{ url_for('article_detail', article_id=article.id) }}">Back to Article</a>
</div>
{% endblock %}